@font-face {
	font-family: 'Basel';
	src: url('webfonts/Basel-Regular.eot'); /* IE9 Compat Modes */
	src: url('webfonts/Basel-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('webfonts/Basel-Regular.woff') format('woff'); /* Legacy iOS */
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Basel', Helvetica, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 0.04em;
	cursor: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.splash,
.about,
.write {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;

	h1 {
		text-align: center;
		font-weight: normal;
	}

	.pink {
		color: fuchsia;
	}
}

.write {
	.picker,
	.location {
		background-color: #fff;
	}

	.input {
		color: #fff;

		&:focus {
			outline: none;
		}
	}
}

.about {
	color: #fff;
	text-align: center;

	a:link,
	a:visited,
	a:hover {
		color: #fff;
	}
}

.cursor {
	position: fixed;
	transform: translate(-50%, -50%);
	border-radius: 50px;
	background-color: #fff;
	padding: 7.5px 40px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	pointer-events: none;
	z-index: 1000;
	transition: opacity 0.25s ease-in-out;
	overflow: hidden;

	.cursor-enter { color: fuchsia; }
	.cursor-back { color: turquoise; }
	.cursor-picker {
		margin: -7.5px -40px -10px;
		width: 100px;
		height: 100px;
	}
}

.helper {
	position: fixed;
	top: 0;
	right: 0;
	margin: 30px;
	padding: 30px;
	border-radius: 50px;
	background-color: #fff;
	padding: 7.5px 40px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	transition: opacity 2s ease-in-out;
	color: fuchsia;
	opacity: 0;
	z-index: 100;

	a:link,
	a:visited,
	a:hover {
		color: fuchsia;
		text-decoration: none;
	}
}

#comments {
	margin: 100px;
	box-sizing: border-box;
	z-index: 1;

	.comment {
		position: relative;
		margin-bottom: 200px;

		.comment-canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			filter: blur(50px);
		}

		.comment-content {
			position: relative;
			padding: 100px 200px;
			color: #fff;
			text-align: center;
			z-index: 2;
			opacity: 1;
			transition: opacity 1s ease-in-out;
			text-shadow: 0 0 10px rgba(0,0,0,0.1);
		}
	}
}

.splashing {
	.comment-content {
		opacity: 0 !important;
	}
}

@media only screen and (max-width: 768px) {
	#comments {
		margin: 10px;

		.comment {
			margin-bottom: 100px;

			.comment-content {
				padding: 50px;
			}
		}
	}
}